{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div>
  {% if user.is_authenticated %}
    Hi {{ user.username }}!
  {% else %}
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div>
          <label>{{ field.label }}</label>
          <div>
            {{ field }}
          </div>
        </div>
      {% endfor %}
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
      <button type="submit">Register</button>
    </form>
    <br>
    <p>If you already have an account, <a href="/login">login</a> instead.</p>
  {% endif %}
</div>
{% endblock %}
