{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  <div>
    {% if brand %}
      <h5 class="text-center">{{ brand }}</h5>
    {% endif %}
    {% if not menu %}
      Sorry, we don't have a active catalog
    {% else %}
      {% regroup items by category as catgory_list %}   
      {% for category in catgory_list %}
        {% with forloop.counter0 as index %}
          <div class="container-fluid">
            <div>
              <a class="btn btn-block btn-lg border dropdown-toggle shadow-0 btn-dark mb-1" data-mdb-toggle="collapse" href="#collapse{{category.grouper|cut:" "}}" role="button" aria-expanded="false" aria-controls="collapse{{category.grouper|cut:" "}}">
                {{ category.grouper }}
              </a>
              <div class="collapse row row-cols-1 row-cols-md-4 g-4" id="collapse{{category.grouper|cut:" "}}">
                {% for item in category.list %}
                  <div class="col">
                    <div class="card border shadow-0 mb-2 mx-auto" style="max-width: 18rem;">
                      {% if item.product.photo %}
                        <img src={{ item.product.photo.url}} class="card-img-top" alt={{ item.product }}/>
                      {% else %}
                      <div class="card-header"></div>
                      {% endif %}
                      <div class="card-body text-primary">
                        <i class="fas bg-light fa-heart fa-2x cart btn position-absolute top-0 end-0" bg-light></i>
                        <a href="#collapse{{item.product}}" data-mdb-toggle="collapse" class="stretched-link">
                          <h5 class="text-dark d-flex justify-content-between">
                            <span>{{ item.product }}</span>
                            <span>${{ item.price|floatformat:"g" }}</span>
                          </h5>
                        </a>
                        <p class="card-text text-dark collapse" id="collapse{{item.product}}">{{ item.product.description }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endwith %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
