{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  {% include "partials/appnavbar.html" %}
  <div class="row">
    {% for menu in menus %}
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ menu.name }}</h5>
            <p class="card-text">{{ menu.description }}</p>
            <a href={% url "menu-detail" menu.brand.id menu.id %} class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <br>
  {% if brand %}
  {% comment %} 
    <form action={% url "menu-edit" %} method="POST">
      {% csrf_token %}
      <input type="hidden" name="current_brand" value="{{ brand.id }}">
      <input type="submit" class="btn btn-primary" value="Create new menu" />
    </form>
    {% endcomment %}
    <a class="btn btn-primary" href={% url "menu-edit" brand.id %}>Create new menu</a> 
  {% endif %}
{% endblock %}
