{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  {% include "partials/appnavbar.html" %}
  <div class="row">
    {% for menu in menus %}
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ menu.name }}</h5>
            <p class="card-text">{{ menu.description }}</p>
            <a href={% url "menu_detail" menu.brand.id menu.id %} class="btn btn-primary">Details</a>
          </div>
        </div>
        <br>
      </div>
    {% endfor %}
  </div>
  {% if brand %}
    {% include "partials/modalcreate.html" with object="menu" %}
  {% endif %}
{% endblock %}
