{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
  {% include "partials/appnavbar.html" %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h5 class="display-6">{{ brand.name }} products</h5>
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}
    {{ form.management_form }}
    {{ form.non_form_errors }}
    <div class="table-responsive">
      <table class="table table-hover table-responsive">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Photo</th>
            <th class="text-center">Delete?</th>
          </tr>
        </thead>
        <tbody id="detail-form">
          {% for detail_form in form.forms %}
            {% for hidden_field in detail_form.hidden_fields %}
              {{ hidden_field.errors }}
            {% endfor %}
            <tr class="product-form">
              <td class="col-3">{{ detail_form.name|add_class:"form-control" }}</td>
              <td class="col-5">{{ detail_form.description|add_class:"form-control" }}</td>
              <td class="col-3 text-center">
                {% include "partials/modalupload.html" with object=forloop.counter0|stringformat:"s" %}  
              </td>
              <td>
                <div class="form-check form-switch d-flex justify-content-center">
                  {{ detail_form.DELETE|add_class:"form-check-input"|attr:"id:delete-switch"}}
                </div>
              </td>
              {{ detail_form.brand.as_hidden }}
              {{ detail_form.id }}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <button id="add-product-form" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> Product</button>
    </div>
    <br>
    <div>
      <a href={% url "brands" %} class="btn btn-danger">Go back</a>
      <input type="submit" value="Save" class="btn btn-success"></input>
    </div>
  </form>
  <script src="{% static 'js/add-form.js' %}"></script>
{% endblock %}
