{% load widget_tweaks %}
{% block content %}
<!-- Button trigger modal -->
<br>
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#createModal">
  Create new {{ object }}
</button>
<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">New {{ object }}</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"> 
          {% csrf_token %}
          <div class="form-outline">
            {{ form.name|attr:"id:form-name"|add_class:"form-control" }}
            <label class="form-label" for="form-name">{{ form.name.label }}</label>
          </div>
          <br>
          {% if object == "company" %}
            <div class="form-outline">
              {{ form.company_id|attr:"id:form-id"|add_class:"form-control" }}
              <label class="form-label" for="form-id">{{ form.company_id.label }}</label>
            </div>
            <div class="form-outline">
              {{ form.country }}
              <label>{{ form.country.label }}</label>
            </div>
          {% elif object == "brand" %}
            {{ form.company.as_hidden }}
          {% elif object == "menu" %}
            <div>
              {{ form.currency|attr:"id:form-currency"|add_class:"form-control form-label" }}
            </div>
            <div class="form-check form-switch">
              {{ form.is_active|add_class:"form-check-input"|attr:"id:activate-switch"}}
              <label class="form-label" for="activate-switch">Activate menu</label>
            </div>
            {{ form.brand.as_hidden }}
          {% endif %}
          <div class="form-outline">
            {{ form.description|attr:"id:form-description"|add_class:"form-control" }}
            <label class="form-label" for="form-description">{{ form.description.label }}</label>  
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
