{% load widget_tweaks %}
{% block content %}<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
  Create new {{ object }}
</button>
<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form method="POST">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createModalLabel">New {{ object }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"> 
          {% csrf_token %}
          <label>{{ form.name.label }}</label>
          <div>{{ form.name }}</div>
          {% if object == "company" %}
            <label>{{ form.company_id.label }}</label>
            <div>{{ form.company_id }}</div>
            <label>{{ form.country.label }}</label>
            <div>{{ form.country }}</div>
          {% else %}
            {{ form.company.as_hidden }}
          {% endif %}
          <label>{{ form.description.label }}</label>
          <div>{{ form.description }}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
