{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  {% include "partials/appnavbar.html" %}
  {% if not form.company.initial %}
    <a class"btn" href={% url "companies" %}>Create a company first</a>
  {% else %}
    <div class="row">
      {% for brand in brands %}
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="bg-image hover-overlay ripple">
              <img src="{{ brand.qr_code.url }}" class="img-thumbnail img-fluid" alt="qr-code"/>
              <a href="" download="{{ brand.qr_code.url }}">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                  <div class="d-flex justify-content-center align-items-center h-100">
                  <span class="btn btn-info">Download QR Code</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ brand.name }}</h5>
              <p class="card-text">{{ brand.description }}</p>
              <a href={% url "list_menus" brand.id %} class="btn btn-primary">See menus</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% include "partials/modalcreate.html" with object="brand" %}
  {% endif %}
{% endblock %}
