{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  {% include "partials/appnavbar.html" %}
  {% if not form.company.initial %}
    <a class"btn" href={% url "companies" %}>Create a company first</a>
  {% else %}
    <div class="card-group">
      {% for brand in brands %} 
        <div class="card shadow-1-strong" {% if brand.photo %}style="background-image: url('{{ brand.photo.url }}');"{% endif %}>
          <div class="card-body">
            <h5 class="card-title">
              <span class="bg-light">
                {{ brand.name }}
                <a href={{ brand.qr_code.url }}><i class="fas fa-qrcode"></i></a>
                <a href={% url "brand_update" brand.id %}><i class="fas fa-edit text-warning"></i></i></a>
              </span>
            </h5>
            <p class="card-text">{{ brand.description }}</p>
            <div class="btn-group btn-group-sm d-flex">
              <a href={% url "product_update" brand.id %} class="btn btn-light"><i class="fas fa-shopping-basket"></i> Products</a>
              <a href={% url "category_update" brand.id %} class="btn btn-light"><i class="fas fa-archive"></i> Categories</a>
              <a href={% url "list_menus" brand.id %} class="btn btn-light"><i class="fas fa-file-alt"></i> Menus</a>              
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% include "partials/modalcreate.html" with object="brand" %}
  {% endif %}
  <a href={% url "companies" %} class="btn btn-danger">Go to companies</a>
{% endblock %}
