{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  {% include "partials/appnavbar.html" %}
  {% if not form.company.initial %}
    <a class"btn" href={% url "companies" %}>Create a company first</a>
  {% else %}
    <div class="row">
      {% for brand in brands %}
        <div class="col-sm-4">
          <div class="card text-center">
            <div class="bg-image hover-overlay ripple">
              {% if brand.photo %}
                <img src="{{ brand.photo.url }}" class="card-img" alt="brand-logo"/>
              {% endif %}
              <a href="" download="{{ brand.qr_code.url }}">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);">
                  <div class="d-flex justify-content-center align-items-center h-100">
                  <span class="btn btn-info">Download QR Code</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ brand.name }}</h5>
              <p class="card-text">{{ brand.description }}</p>
              <div class="btn-group btn-group-sm">
                <a href={% url "product_update" brand.id %} class="btn btn-primary"><i class="fas fa-shopping-basket"></i> Products</a>
                <a href={% url "category_update" brand.id %} class="btn btn-primary"><i class="fas fa-archive"></i> Categories</a>
                <a href={% url "list_menus" brand.id %} class="btn btn-primary"><i class="fas fa-file-alt"></i> Menus</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% include "partials/modalcreate.html" with object="brand" %}
  {% endif %}
{% endblock %}
