{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
  {% include "partials/appnavbar.html" %}
  <div class="row">
    {% for company in companies %}
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ company.name }}</h5>
            <p class="card-text">{{ company.company_id }}</p>
            <a href={% url "brands" %} class="btn btn-primary">See brands</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% if not companies %}
    {% include "partials/modalcreate.html" with object="company" %}
  {% endif %}
{% endblock %}
